.aim-wrapper {
  height: 100%;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.left-area {
  /* border-right: 1px solid #141414; */
  flex-direction: row;
  align-items: flex-start;
  padding-top: 0.97em;
  display: flex;
  width: 32.8%;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.anim-line--right {
  position: absolute;
  content: "";
  width: 1px;
  background-color: #141414;
  height: 100%;
  top: 0;
  right: 0;
}
.modernists-list {
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  position: relative;
}

.modernists-list-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 0.97em;
}
.list-name-wrapper {
  width: 7.3em;
  margin-right: 0.97em;
  padding-bottom: 0;
}

.list-name-wrapper .content-wrapper {
  margin-bottom: 0.56em;
  position: relative;
}

.list-chapter {
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}
.chapter-option-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-area {
  /* width: 66.3%; */
  flex: 1;
  position: relative;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8em;
  display: flex;
  padding-left: 1em;
}

.hero-header-wrapper {
  flex-direction: column;
  margin-bottom: 0.56em;
  display: flex;
}
.content-wrapper {
  position: relative;
  margin-bottom: 0;

  overflow: hidden;
}
.content-wrapper h2 {
  font-weight: 500;
}

.link-to-explore {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding-bottom: 10px;
}

.explore-txt {
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.icon-down {
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.42em;
}

.anim-line--bottom {
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0;
  right: 0%;
  height: 1px;
}

.anim-line--top {
  width: 100%;
  position: absolute;
  bottom: auto;
  top: 0%;
  left: 0;
  right: 0%;
  height: 1px;
}
